html {
  font-size: 62.5%;
  min-height: 100%;
}
body {
  @include font-size;
  min-height: 100%;
  background: #525252;
  // background: #888;
}
body, select, input, button, label {
  font-weight: 400;
  font-family: $sans;
  -webkit-font-smoothing: antialiased;
  &:focus {
    outline: none;
  }
}
h1, h2, h3, h4, h5, h6, .h0, .h1, .h2, .h3, .h4, .h5, .h6, .h7 {
  font-family: $sans;
  font-weight: 400;
  line-height: 1.3;
}
.h0 {
  @include font-size($h0-size...);
}
.h1, .base h1 {
  @include font-size($h1-size...);
}
.h2, .base h2 {
  @include font-size($h2-size...);
}
.h3, .base h3 {
  @include font-size($h3-size...);
}
.h4, .base h4 {
  @include font-size($h4-size...);
}
.h5, .base h5 {
  @include font-size($h5-size...);
}
.h6, .base h6 {
  @include font-size($h6-size...);
}
.h7 {
  @include font-size($h7-size...);
}
img {
  max-width: 100%;
  width: auto;
}
#tiles {
  width: 1000px;
  margin: auto;
  position: relative;
  @extend .clearfix;
  .tile {
    float: left;
    cursor: pointer;
    position: relative;
    &.fog-true {
      opacity: 0;
    }
    img {
      display: block;
      position: relative;
      z-index: 0;
    }
    .action {
      position: absolute;
      cursor: pointer;
      top: 50%;
      color: #AAA;
      z-index: 1;
    }
    .source {
      left: 50%;
      margin-left: -20px;
      margin-top: 5px;
    }
    select {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .rotate {
      right: 50%;
      margin-right: -20px;
      margin-top: 5px;
    }
    .fog {
      left: 50%;
      margin-top: -25px;
      margin-left: -20px;
      &.fog-false {
        color: green;
      }
    }
    .flag {
      right: 50%;
      margin-top: -25px;
      margin-right: -20px;
      &.flag-blue {
        color: blue;
      }
      &.flag-red {
        color: red;
      }
      &.flag-green {
        color: green;
      }
      &.flag-orange {
        color: orange;
      }
      &.flag-yellow {
        color: yellow;
      }
      &.flag-purple {
        color: purple;
      }
    }
    .poi {
      left: 50%;
      margin-top: -12px;
      margin-left: -5px;
      &.poi-true {
        color: yellow;
      }
    }
  }
}
.legend {
  @extend .clearfix;
  width: 1000px;
  margin: auto;
  .marker {
    float: left;
    width: 100px;
    height: 30px;
    @include font-size(24, 1);
    font-weight: bold;
    padding: 3px 0;
    text-align: center;
  }
}
.axis {
  position: absolute;
  left: -40px;
  top: 0;
  .marker {
    width: 40px;
    height: 100px;
    @include font-size(24, 1);
    font-weight: bold;
    padding: 38px 0;
    text-align: center;
  }
}
.rotate0deg {
  @include rotate(0deg);
}
.rotate90deg {
  @include rotate(90deg);
}
.rotate180deg {
  @include rotate(180deg);
}
.rotate270deg {
  @include rotate(270deg);
}
.absolute-group {
  position: absolute;
  top: 0;
  left: 0;
}
