<!doctype html>
<html lang="en" ng-app="dnd-tiles">
<head>
  <meta charset="UTF-8">
  <title>Tiles</title>
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/jquery.js"></script>
  <script src="js/lib.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/script.js"></script>
</head>
<body ng-controller="Main">
  <section class="map map-{{map.name}}" ng-repeat="map in maps">
    <div id="tiles" ui-sortable="sortableOptions" tl-sortable ng-model="map.tiles">
      <div class="tile fog-{{tile.fog && map.fog}}" ng-repeat="tile in map.tiles track by $index">
        <div class="rotate action" ng-hide="map.fog" tl-rotate="{{tile.rotate}}">
          <i class="fa fa-repeat"></i>
        </div>
        <img ng-src="/images/tile-{{tile.src}}.jpg" alt="Tile" class="rotate{{tile.rotate}}deg">
        <div class="source action" ng-hide="map.fog">
          <i class="fa fa-anchor"></i>
          <select tl-source>
            <option value="{{option.num}}" ng-selected="option.num === tile.src" ng-repeat="option in alltiles">{{option.name}}</option>
          </select>
        </div>
        <div class="fog fog-{{tile.fog}} action" tl-toggle-fog ng-hide="map.fog"><i class="fa fa-eye"></i></div>
        <div class="flag action flag-{{tile.flag}}" ng-hide="map.fog">
          <i class="fa fa-flag"></i>
          <select tl-set-flag>
            <option value="blue" ng-selected="tile.src === blue">Blue</option>
            <option value="red" ng-selected="tile.src === red">Red</option>
            <option value="green" ng-selected="tile.src === green">Green</option>
            <option value="orange" ng-selected="tile.src === orange">Orange</option>
            <option value="yellow" ng-selected="tile.src === yellow">Yellow</option>
            <option value="purple" ng-selected="tile.src === purple">Purple</option>
          </select>
        </div>
      </div>
    </div>
    <div class="absolute-group">
      <button tl-add-tile class="btn btn-primary"><i class="fa fa-plus"></i></button>
      <button tl-toggle-global-fog class="btn btn-primary"><i class="fa fa-eye"></i></button>
    </div>
  </section>
</body>
</html>