<!doctype html>
<html lang="en" ng-app="dnd-tiles">
<head>
  <meta charset="UTF-8">
  <title>Tiles</title>
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/jquery.js"></script>
  <script src="js/lib.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/script.js"></script>
</head>
<body ng-controller="Main">
  <section class="map map-{{map.name}}" ng-repeat="map in maps">
    <div class="legend" ng-hide="map.fog">
      <div class="marker">A</div>
      <div class="marker">B</div>
      <div class="marker">C</div>
      <div class="marker">D</div>
      <div class="marker">E</div>
      <div class="marker">F</div>
      <div class="marker">G</div>
      <div class="marker">H</div>
      <div class="marker">I</div>
      <div class="marker">J</div>
    </div>
    <div id="tiles" ui-sortable="sortableOptions" tl-sortable ng-model="map.tiles">
      <div class="axis" ng-hide="map.fog">
        <div class="marker">1</div>
        <div class="marker">2</div>
        <div class="marker">3</div>
        <div class="marker">4</div>
        <div class="marker">5</div>
        <div class="marker">6</div>
        <div class="marker">7</div>
        <div class="marker">8</div>
        <div class="marker">9</div>
        <div class="marker">10</div>
        <div class="marker">11</div>
        <div class="marker">12</div>
        <div class="marker">13</div>
        <div class="marker">14</div>
        <div class="marker">15</div>
        <div class="marker">16</div>
      </div>
      <div class="tile fog-{{tile.fog && map.fog}}" ng-repeat="tile in map.tiles track by $index">
        <div class="rotate action" ng-hide="map.fog" ng-click="rotateClockwise(tile)">
          <i class="fa fa-repeat"></i>
        </div>
        <img ng-src="/images/tile-{{tile.src}}.jpg" alt="Tile" class="rotate{{tile.rotate}}deg">
        <div class="source action" ng-hide="map.fog">
          <i class="fa fa-bars"></i>
          <select ng-model="tile.src" ng-selected="option.num === tile.src" ng-options="option.num as option.name for option in allTiles">
          </select>
        </div>
        <div class="fog fog-{{tile.fog}} action" ng-click="toggleFog(tile)" ng-hide="map.fog"><i class="fa fa-eye"></i></div>
        <div class="flag action flag-{{tile.flag}}" ng-hide="map.fog">
          <i class="fa fa-flag"></i>
          <select ng-model="tile.flag" ng-selected="option.num === tile.flag" ng-options="option.value as option.name for option in allFlags">
          </select>
        </div>
        <div class="poi action poi-{{tile.poi}}" ng-click="togglePoi(tile)" ng-hide="map.fog"><i class="fa fa-star"></i></div>
      </div>
    </div>
    <div class="absolute-group">
      <button ng-click="addTile()" class="btn btn-primary"><i class="fa fa-plus"></i></button>
      <button ng-click="toggleGlobalFog()" class="btn btn-primary"><i class="fa fa-eye"></i></button>
    </div>
  </section>
</body>
</html>